.App {
  background-color:#000000;
  min-height: 100vh;
}

.container{
  height: 100vh;
}

.row{
  align-items: center;
  height: 100vh;
}

.itemBoxImage{
  z-index: 2;
}

.startbtn{
  background-color: rgb(180, 181, 8);
  color: black;
  height: 40px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
}