.App {
  background-color:#000000;
  min-height: 100vh;
}

.container{
  height: 100vh;
 
}

.container.row{
  border: 1px solid white;
}

.pink{
  height: 100vh;
}

.purple{
  height: 100vh;
}

.itemBoxImage{
  z-index: 2;
  border-radius: 5px;
  height: 35px;
  /* width:33px; */
  border: 2px solid red;
  background-size: 25px 30px;
  background-image: url('./images/superman.png');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  /*left: 2px; */
}

.startbtn{
  background-color: rgb(180, 181, 8);
  border-color: rgb(180, 181, 8);
  color: black;
  height: 40px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
}

.timerButton{
  background-color: rgb(180, 181, 8);
  border-color: rgb(180, 181, 8);
  color: red;
  height: 40px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
}

.restartButton{
  background-color: rgb(180, 181, 8);
  border-color: rgb(180, 181, 8);
  color: black;
  height: 40px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
}

.Congratulations{
  width: 50%;
}